* {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  --bgcolor: #FFFAED;
  --fontcolor: #000000;
  --gridcolor: #0671EB;
}

html, body{
  height: 100%;
}

body {
  background-color: var(--bgcolor);
  
}

img {
  width: 90px;
  height: 122px;
}

header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  margin: 20px;
  left: 20px;
}
.title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
}

.title p {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
}

.context-center {
  margin-top: 76px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px ;
  height: 550px;
}

.context-center h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: 0%;
}

.context-center h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 65px;
  letter-spacing: 0%;
}

.context-center p {
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
}

.context-subjects {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  height: 80%;
  
  
}

.context-subjects h1, .context-subjects h2, .context-subjects p{
  margin-bottom: 20px;
}

.context-panel{
  position: relative;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  width: 50%;
  height: 100%;
  row-gap: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  background-color: var(--gridcolor);
}

.container h3{
  position: relative;
  font-size: 25px;
  font-weight: 0px;
  top: -20px;
  margin-bottom: 30px;
}

.container h2{
  font-size: 35px;
  top: 50px;
}

#timer {
  padding-bottom: 20px;
}

.context-center h1 {
  padding-bottom: 5px;
}

/* Responsividade pra Tablets */

/* Horizontal */
@media (max-width: 1024px) and (max-width: 769px) { 
  img {
    width: 70px;
    height: 90px;
  }

  header{
    margin-top: 48px;
  }

  header .title h1{
      font-size: 48px;
  }

  header .title p{
      font-size: 24px;
  }

  .context-subjects p{
    font-size: 32px;
  }

  .context-subjects h1{
    font-size: 48px;
  }

  .context-subjects h2{
    font-size: 40px;
  }

  .context-panel{
    
  }
}
